<div class="app-login-form">
  <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && onSubmit($event);" novalidate>
    <div class="input-field">
      <input [disabled]="isLoading" type="email" placeholder="Your email" name="email" #email="ngModel" required
        [(ngModel)]="model.email" [email]="true" />
      <img src="/assets/opened-email-envelope.svg" alt="suatu-icon-lah" />
    </div>
    <div class="input-field">
      <input [disabled]="isLoading" type="password" placeholder="Your password" name="password" #password="ngModel"
      required
       #password="ngModel" [(ngModel)]="model.password"/>
      <img src="/assets/locked-padlock.svg" alt="suatu-icon-lah" />
    </div>
    {{ errors | json }}
    <button
      [disabled]="email.invalid || password.invalid">
      <span *ngIf="!isLoading">Continue</span>
      <span *ngIf="isLoading">
        <img src="/assets/loading2.svg" alt="just-loader-icon" height="25" width="100"/>
      </span>
    </button>
  </form>
</div>
