<div class="home-page-header-wrapper">
  <div class="home-page-header-wrapper-overlay">
    <div class="home-page-header-content">
      <div class="home-page-header-content-top">
        <h1>Breakthrough ideas and insights</h1>
        <h3>The leading platform for crowdsourced innovation from Millenials & Gen Z</h3>
      </div>
      <div class="home-page-header-content-center">
        <div>
          <div>
            <img src="/assets/jigsaw.svg" alt="solve" width="60">
          </div>
          <div>
            <h2>SOLVERS ></h2>
            <p>
              Earn cash by sharing your creativity with the largest brands in the world
            </p>
          </div>
        </div>
      </div>
      <div class="home-page-header-content-bottom">
        <div class="step1">
          <img src="/assets/step-1.png" alt="step-1" height="45">
          <div class="v-dot-3"></div>
          <p>
            Government post challenges
          </p>
        </div>
        <div class="step2">
          <img src="/assets/step-2.png" alt="step-2" height="45">
          <div class="v-dot-3"></div>
          <p>
            Solver submit ideas
          </p>
        </div>
        <div class="step3">
          <img src="/assets/step-3.png" alt="step-3" height="45">
          <div class="v-dot-3"></div>
          <p>
            Government rates ideas
          </p>
        </div>
        <div class="step4">
          <img src="/assets/step-4.png" alt="step-4" height="55">
          <div class="v-dot-3"></div>
          <p>
            Solvers get honor as a netizen
          </p>
        </div>
      </div>
    </div>
  </div>
</div>