div.app-account-create-page {
    display: grid;
    justify-items: center;
    margin-top: 2rem;
    color: grey;
    min-height: calc(100vh - 200px);
    & > div {
        width: 900px;
        display: grid;
        justify-items: center;
        align-items: start;
        & > div.form > h2 {
            text-align: center;
        }
        & > div.form > form {
            max-width: 300px;
            
            & > div.form-field {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;
                & > label {
                    margin-bottom: 5px;
                    font-size: 0.9rem;
                }
                & > div.errors > span {
                    color: red;
                    font-size: 0.8rem;
                }
                margin-bottom: 1rem;
                & > input {
                    padding: 0.5rem;
                    width: 100%;
                    font-size: 0.8rem;
                    color: #444444;
                    box-sizing: border-box;
                    border: 1px solid #444444;
                    &.no-icon {
                        padding-left: 0.75rem;
                    }
                    
                    &.ng-valid.ng-dirty {
                        border-color: darkgreen;
                    }
                    &.confirm-password.ng-dirty.no-valid {
                        border-color: red;
                    }

                    &.ng-invalid.ng-touched {
                        border-color: red;
                    }
                }
            }
            & > button {
                padding: 0.5rem;
                text-align: center;
                border-radius: 4px;
                outline: none;
                border: none;
                cursor: pointer;
                color: #ffffff;
                font-size: 1.2rem;
                width: 100%;
                
                 background-color: #428ab5;
                &:hover {
                    opacity: 0.9;
                }
                
                &:disabled {
                    color: #696969;
                     background-color: #dddddd;
                }
            }
        }
    }
}