<div class="app-challenge-content" routerLink="challenge-detail/{{challenge.id}}"
[ngClass]="{'new': challenge.status == 1, 'reviewing': challenge.status == 2, 'completed': challenge.status == 3}" >
  <div class="app-challenge-banner">
    <img [src]="challenge.bannerImage" alt="banner-image" />
  </div>
  <div class="ribbon-status" 
    [ngClass]="{'new': challenge.status == 1, 'reviewing': challenge.status == 2, 'completed': challenge.status == 3}">
    <img *ngIf="challenge.status == 1" src="/assets/flag.svg" alt="flag-icon" />
    <img *ngIf="challenge.status == 2" src="/assets/auction.svg" alt="flag-icon" />
    <img *ngIf="challenge.status == 3" src="/assets/locked-padlock.svg" alt="flag-icon" />

    {{ challenge.status != 1 ? (challenge.status != 2 ? 'COMPLETED' : 'REVIEWING') : 'NEW'}}
  </div>
  <div class="app-challenge-text-content">
    <div>
      <h3>{{ challenge.title }}</h3>
      <div class="app-challenge-author">
        <div *ngIf="challenge.isAnonymousAuthor">
          <div>
            <img src="/assets/group.svg" alt="account-picture" />
          </div>
          Anonymous
        </div>
        <div *ngIf="!challenge.isAnonymousAuthor">
          <div>
            <img [src]="challenge.author.avatar" alt="account-picture" *ngIf="challenge.author.avatar != null" />
            <img src="/assets/group.svg" alt="account-picture" *ngIf="challenge.author.avatar == null" />
          </div>
          {{ challenge.author.firstName }} {{ challenge.author.lastName }}
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>
          <div>
            <img src="/assets/clock.svg" alt="days-left-icon" />
            <h3>{{ challenge.dueDate | amAdd: 1 : 'days' | amDifference: today :'days' : false }}</h3>
          </div>
          <p>days left</p>
        </div>
      </div>
      <div>
        <div>
          <div>
            <img src="/assets/dollar-coins.svg" alt="dollar-sign" />
            <h3>{{ challenge.price }}</h3>
          </div>
          <p>
            top 50%
          </p>
        </div>
      </div>
    </div>
  </div>
</div>