<div class="app-challenge-detail-header">
  <div>
    <div class="author">
      <div class="author-name">
        <img *ngIf="challenge.author.avatar == null || challenge.isAnonymousAuthor" src="/assets/group_2.svg" alt="account-icon" /> 
        <img *ngIf="challenge.author.avatar && !challenge.isAnonymousAuthor" [src]="challenge.author.avatar" alt="account-icon" /> 
        {{ challenge.isAnonymousAuthor ? 'Anonymous' : (challenge.author.firstName + " " + challenge.author.lastName) }}
      </div>
      <div>
        <p *ngIf="challenge.nextChallengeId > 0">Next challenge: <a [routerLink]="'/challenge-detail/' + challenge.nextChallengeId">
          {{ challenge.nextChallengeTitle }}</a></p>
      </div>
    </div>
    <h1>{{ challenge.title }}</h1>
    <div class="skill-tags">
      <app-skill-tag *ngFor="let skill of challenge.skills" [skill]="skill"></app-skill-tag>
    </div>
    <div class="challenge-info">
      <div>
        <app-start-drafting-button></app-start-drafting-button>
      </div>
      <div></div>
      <div>
        <div>
          <div>
            <img src="/assets/dollar-coins_white.svg" alt="dollar" />
            <h3>{{ challenge.price }}</h3>
          </div>
          <p>top 16%</p>
        </div>
        <div>
          <div>
            <h3>0</h3>
          </div>
          <p>submissions</p>
        </div>
        <div>
          <div>
            <img src="/assets/clock_white.svg" alt="clock" />
            <h3>3</h3>
          </div>
          <p>days left</p>
        </div>
      </div>
    </div>
    <div class="challenge-description">
      <div [innerHTML]="challenge.description" class="inner-html"></div>
      <div>
        <img [src]="challenge.bannerImage" alt="banner-image"/>
      </div>
    </div>
  </div>
</div>